<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
       background-size: cover;
      }

      button {
        background-color: #000066;
        color: white;
        height:65px;
        width:300px;
        margin-bot: 10px;
        font-size:35px;
        outline: none;
        cursor: pointer;

      }

      button:hover {
        font-size: 35px;
        color: #ffdc6d;
        outline: 5px solid white;
        outline-offset: 4px;
        transform: scale(1.08);
        transition: outline 0.2s ease-in-out, font-size none;
      }
      h1 {
        font-size: 150px;
        color: #000066;
      }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body style="background-image: url('https://www.cs.drexel.edu/~ays36/CI102/img/WhiteVector.png'); overflow-x:hidden; overflow-y:shown;">
<br>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-4">
                <img src="https://www.cs.drexel.edu/~ays36/CI102/img/cart.png" draggable="false" alt="cart" style="float: right; margin-right: 20px; margin-left: 60px" width="180px" height="180px">
            </div>
            <div class="col-4">
                <h1 color="#000066" font-size="150px">
                    Drexel Shopping Cart
                </h1>
                <form action="/goBackHome" method="POST">
                    <button> Home </button>
                </form>
            </div>
            <div class="col-3">

            </div>
        </div>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-4">
                <p style="color: #000066; font-size: 35px; float:right;">
                    Total Price: ${{totalPrice}}
                </p>
            </div>
            <div class="col-4">

            </div>
            <div class="col-1">

            </div>
        </div>
    </div>
    <div style="background-image:url('https://www.cs.drexel.edu/~ays36/CI102/img/YellowPicnic400x.png'); width:70.4%; height:200px; margin:auto; border:4px ridge #000066;">
        <div class="row"> <!-- Add buttons for each page -->
            <div class="col-2">

            </div>
            <div class="col-3" style="margin-top: 15px">
                <form action="/goBackRecommender" method="POST">
                    <button style="font-size: 35px" >Recommender</button>
                </form>
            </div>
            <div class="col-1">

            </div>
            <div class="col-3" style="margin-top: 15px">
                <form action="/goBackSort" method="POST">
                    <button style="font-size: 35px;">Price Sorter</button>
                </form>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="col-2">
        </div>
        <div class="row" style="margin-top:15px">
        <div class="col-2">

        </div>
        <div class="col-3" style="margin-top: 15px">
            <form action="/goBackRandom" method="POST">
              <button style="font-size: 35px;">Random Product</button>
            </form>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3" style="margin-top: 15px">
             <form action="goBackChat" method="POST">
              <button style="font-size: 35px;">Chatbot</button>
             </form>
        </div>
        <div class="col-3">
        </div>
        <div class="col-2">
        </div>
    </div>
    </div>
<br>
    <div style="max-width: 1000px; margin: auto">
        <div id="Output" style="width:90.4%; height:500px; margin:auto; border:4px ridge #000066; background-image:url('https://www.cs.drexel.edu/~ays36/CI102/img/WhitePicnic400x.png'); margin-top: 25px; min-height: calc(100vh - 50px);">
            <center style="width: 90.7%; height: 406px; margin-top: -20px">
                <br>
            <div style="margin-left: 115px; margin-top: 20px; margin-right: 100px">
                <table>
                {% for (productPrice, productName, productImage, productLink) in everything %}
                <tr>
                    <td>
                        {{productName}}
                    </td>
                    <td>
                        {{productPrice}}
                    </td>
                    <td>
                        <a href="{{productLink}}"> Product Link </a>
                    </td>
                    <td> <img src="{{productImage}}" width="30px" height="30px"> </td>
                    <td>
                        <form action="/removeFromCart" method="POST">
                            <input type="hidden" value="{{productImage}}" name="productImage">
                            <input type="hidden" value="{{productName}}" name="productName">
                            <input type="hidden" value="{{productPrice}}" name="productPrice">
                            <input type="hidden" value="{{productLink}}" name="productLink">
                            <input type="submit" value="Remove from Cart">
                        </form>

                    </td>
                </tr>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>