<!DOCTYPE html>
<html>
  <head>
    <title>Search Prototype</title>
  </head>
  <body>
    <h1>Search</h1>
    <form action="{{ url_for('search') }}" method="post">
      <input type="text" name="keyword" placeholder="Search...">
      <button type="submit">Search</button>
    </form>

    {% if not error %}
      {% if results %}
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Product Type</th>
              <th>Weblinks</th>
              <th>Images</th>
            </tr>
          </thead>
          <tbody>
            {% for item in results %}
            <tr>
              <td>{{ item['Name'] }}</td>
              <td>{{ item['Price'] }}</td>
              <td>{{ item['Product Type'] }}</td>
              <td><a href="{{ item['WebLinks'] }}" target="_blank">{{ item['WebLinks'] }}</a></td>
              <td><img src="{{ item['ImageLinks'] }}" target="_blank" width="30px" height="30px"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        {% if suggestions %}
          <p>Did you mean {{ suggestions|join(', ') }}?</p>
        {% else %}
          <p>No results found.</p>
        {% endif %}
      {% endif %}
    {% endif %}

    {% if suggestions %}
      <p>Did you mean:</p>
      <ul>
        {% for suggestion in suggestions %}
        <li><a href="{{ url_for('spell_check', keyword=suggestion) }}">{{ suggestion }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    <form>
      <button type="button" onclick="window.history.back()">Go back</button>
    </form>
  </body>
</html>
